.env

/.idea/modules.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/Source/Private.py
/.idea/Artifacts.iml
/.idea/inspectionProfiles/Project_Default.xml
/__pycache__/
/test.py
/hello.txt
/logs
/Source/__pycache__/
*.swp