.env

/.idea/modules.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/Private.py
/.idea/Artifacts.iml
/.idea/inspectionProfiles/Project_Default.xml
